name: "Build Artifact"

on:
  workflow_call:
    inputs:
      language:
        description: 'The programming language for building the artifact'
        required: true
        type: string
      project-path:
        description: 'La ruta del proyecto donde se encuentra el c贸digo'
        required: false  
        type: string
      dotnet-version:
        description: 'La versi贸n de .NET para usar en este pipeline'
        required: false
        type: string
      go-version:
        description: 'La versi贸n de Go para usar en este pipeline'
        required: false
        type: string
      python-version:
        description: 'La versi贸n de Python para usar en este pipeline'
        required: false
        type: string

jobs:
  build-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET Core
        if: ${{ inputs.language == 'dotnet' && inputs.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "${{ inputs.dotnet-version }}"

      - name: Set up Go
        if: ${{ inputs.language == 'go' && inputs.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: "${{ inputs.go-version }}"

      - name: Set up Python
        if: ${{ inputs.language == 'python' && inputs.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: "${{ inputs.python-version }}"

      - name: Build Artifact
        run: |
          if [ -n "${{ inputs.project-path }}" ]; then
            cd ${{ inputs.project-path }}
          fi
          
          if [ "${{ inputs.language }}" == "go" ]; then
            echo "Building Go artifact"
            go build -o output/app .
          elif [ "${{ inputs.language }}" == "node" ]; then
            echo "Building Node.js artifact"
            npm run build
          elif [ "${{ inputs.language }}" == "python" ]; then
            echo "Building Python artifact"
            python setup.py bdist_wheel
          elif [ "${{ inputs.language }}" == "java" ]; then
            echo "Building Java artifact"
            ./mvnw package
          elif [ "${{ inputs.language }}" == "dotnet" ]; then
            echo "Building .NET artifact"
            dotnet publish -c Release -o ./publish
          fi
