name: "Go CI Pipeline"

on:
  workflow_call:
    inputs:
      go-version:
        description: 'La versión de Go para usar en este pipeline'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ inputs.go-version }}

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ inputs.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ inputs.go-version }}

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out ./...

      - name: Upload coverage report
        uses: actions/upload-artifact@v3  # Cambiado de v2 a v3
        with:
          name: coverage-report
          path: coverage.out

      - name: Display Go version
        run: go version

      - name: Run Go linter (optional)
        run: go vet ./...

  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Enviar notificación
        run: echo "Pipeline terminado. Notificación enviada."
